/**----------------------------------------
 * Styles pour la configuration des menus :
 *  - Principal
 *  - Intervalles
 *  - Circuits
 * ----------------------------------------
 */


/**
 * Styles pour le conteneur de sélection du mode
   ---------------------------------------------
 */ 
#mode-selection {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top : 10px;
}
#mode-selection h2 {
    margin-bottom: 5px;
    font-size: 1.4rem;
    color: #ccc;
}

/**
 * Styles pour le conteneur de configuration des intervalles
   ---------------------------------------------------------
 */
#setup {
    /* Le conteneur #setup gère l'espacement vertical entre les Labels et les Steppers */
    display: flex;
    flex-direction: column;
    gap: 15px; /* Augmente l'espace entre chaque groupe Label/Stepper */
    padding-bottom: 10px;
}
#setup label {
    text-align: center; 
    font-weight: bold;
    margin-bottom: -5px; /* Remonte le label légèrement au-dessus du stepper */
    font-size: 1.1em;
}
.control {
    display: flex;
    align-items: center;
    justify-content: center; /* Centre le stepper au milieu du conteneur #setup */
    margin: 0 auto;
    width: fit-content;
    border-radius: 5px;
    overflow: hidden;
}

/* Styles pour le mode compact Min:Sec */
.stepper-complex {
    /* Assure que l'alignement soit horizontal pour le min:sec */
    display: flex;
    align-items: center;
}
.stepper-complex input {
    width: 35px;
    height: 30px;
    margin: 0;
    border-radius: 0;
    background-color: #555;
    color: white;
    text-align: center;
    font-size: 1rem;
}
.stepper-complex .separator {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ccc;
    padding: 0 5px;
}
/* Styles pour les boutons (+/-) du stepper aux extrémités */
.stepper-complex button {
    width: 30px; 
    height: 30px;
    padding: 0;
    margin: 0; 
    font-size: 1.2rem;
    background-color: #444; 
    border-radius: 0; 
}
/* Styles pour les arrondis (seulement les boutons extérieurs) */
.stepper-complex button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.stepper-complex button:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}