body {
    font-family: sans-serif;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: #2d2d2d;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    width: 300px;
}

input {
    width: 50px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #0070f3; /* Bleu Vercel */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

.btn-reset {
    background-color: #e00;
}

#time-left {
    font-size: 5rem;
    font-weight: bold;
    margin: 20px 0;
}

.hidden {
    display: none !important;
}

/* Codes couleurs dynamiques */
.work-mode { color: #0f0; } /* Vert pour le travail */
.rest-mode { color: #f00; } /* Rouge pour le repos */

.get-ready-mode {
    color: #ffcc00; /* Jaune pour la préparation */
}
.finish-mode {
    color: #4CAF50; /* Vert foncé pour la fin */
}
#setup {
    /* Transforme #setup en conteneur Flex */
    display: flex;
    /* Aligne les éléments les uns sous les autres */
    flex-direction: column;
    /* Espace les éléments verticalement */
    gap: 10px; 
}

.control {
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    align-items: center;
}

.control button {
    width: 30px; 
    height: 30px;
    padding: 0;
    margin: 0; 
    font-size: 1.2rem;
    background-color: #444; 
    border-radius: 0; /* Pas d'arrondi sur les côtés intérieurs */
}
.control button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.inp.control button:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* Règle pour l'input pour le garder à droite */
.control input {
    width: 40px; 
    height: 30px; 
    margin: 0;
    border-radius: 0; /* Pas d'arrondi sur les côtés */
    background-color: #555; /* Fond plus foncé pour le champ */
    color: white;
}
